In [25]:
import pandas as pd

def solution(inputTable):
    df = pd.DataFrame(inputTable, columns=["City","Category","Count"])
    print(df)
    new_dict = {}
    for i in df["City"].unique():
        df_cit = df[df["City"]==i]
        new_dict[i] = {}
        for j in df_cit["Cateogry"].unique():
            new_dict[i][j] = 
    df_sln = pd.DataFrame(df.groupby(["City"]))
    print(df_sln)
    return df_sln

In [26]:
inputTable = [["Boston", "Mexican", "163"], ["Boston", "Seafood", "194"], ["Los Angeles", "American", "1239"], ["Los Angeles", "Mexican", "1389"], ["Los Angeles", "Seafood", "456"]]

In [27]:
solution(inputTable)

          City  Category Count
0       Boston   Mexican   163
1       Boston   Seafood   194
2  Los Angeles  American  1239
3  Los Angeles   Mexican  1389
4  Los Angeles   Seafood   456
             0                                                  1
0       Boston       City Category Count
0  Boston  Mexican   ...
1  Los Angeles            City  Category Count
2  Los Angeles ...

             0                                                  1
0       Boston       City Category Count
0  Boston  Mexican   ...
1  Los Angeles            City  Category Count
2  Los Angeles ...

In [69]:
def sln (inputTable):
    new_dict = {}
    for row in inputTable:
        city = row[0]
        category = row[1]
        count = row[2]
        if city not in new_dict:
            new_dict[city] = {}
        new_dict[city][category] = count
    df = pd.DataFrame.from_dict(sl, orient="index")
    df = df.sort_index()
    df = df[sorted(list(df))]
    df= df.fillna(0)
    df = df.astype(int)
    return df.values.tolist()

In [70]:
sln(inputTable)

[[0, 163, 194], [1239, 1389, 456]]

In [68]:
df = pd.DataFrame.from_dict(sl, orient="index")

In [63]:
df.values.tolist()

[[0, '163', '194'], ['1239', '1389', '456']]